@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 0.1;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 0.85;
    }
}

@-moz-keyframes slideIn {
  0% {
    -moz-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -moz-transform: translateX(0);
    opacity: 0.1;
  }
}

@keyframes slideUp {
    0% {
        transform: translateY(75%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 0.85;
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(75%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 0.85;
    }
}

@-moz-keyframes slideUp {
    0% {
        -moz-transform: translateY(75%);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
        opacity: 0.85;
    }
}