.home-landing-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, $blue, $light-blue);
    position: relative;
    // box-shadow: 0px 10px 20px 3px rgba(60,60,60,0.06); 
    // -webkit-box-shadow: 0px 10px 20px 3px rgba(60,60,60,0.06); 
    z-index: 1; // So the box-shadow is visible
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.landing-text-container.left-justify {
    margin-left: 5rem;
}

.landing-title {
    @include inter-extra-bold();
    font-size: 5rem;
    color: white;
    opacity: 0;
    margin:0;
    line-height: 100%;
    z-index: 5;
    
    animation: slideUpHome 1s;
    -webkit-animation: slideUpHome 1s;
    -moz-animation: slideUpHome 1s;
    -o-animation: slideUpHome 1s;
    -ms-animation: slideUpHome 1s;
    animation-iteration-count: 1;
    animation-delay: 0;
    // This makes CSS attribute changes made by animations
    // stick after the animation is complete
    animation-fill-mode: forwards;
}

.landing-subtitle {
    @include inter-reg();
    font-size: 1.5rem;
    color: white;
    opacity: 0;
    margin: 0;
    z-index: 5;

    animation: slideUpHome 1s;
    -webkit-animation: slideUpHome 1s;
    -moz-animation: slideUpHome 1s;
    -o-animation: slideUpHome 1s;
    -ms-animation: slideUpHome 1s;
    animation-iteration-count: 1;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

.transparent-rectangle-1, .transparent-rectangle-2, .transparent-rectangle-3 {
    position: absolute;
    height: 100%;
    width: 15vw;
    margin: 0;
    padding: 0;
    background-color: white;
    opacity: 0;
    right: 0;
    top: 0;
    z-index: 3;
    display: block;

    animation: slideInRectangles 1s;
    -webkit-animation: slideInRectangles 1s;
    -moz-animation: slideInRectangles 1s;
    -o-animation: slideInRectangles 1s;
    -ms-animation: slideInRectangles 1s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.000, 0.000, 0.255, 0.995);
    animation-fill-mode: forwards;
}

.transparent-rectangle-2 {
    width: 25vw;
    z-index: 2;
    animation-delay: 0.25s;
}

.transparent-rectangle-3 {
    width: 32vw;
    z-index: 1;
    animation-delay: 0s;
}

#arrow-1, #arrow-2, #arrow-3 {
    opacity: 0;
    animation: pulse 2s;
    -webkit-animation: pulse 2s;
    -moz-animation: pulse 2s;
    -o-animation: pulse 2s;
    -ms-animation: pulse 2s;
    animation-iteration-count: infinite;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    margin: 0;
    position: absolute;
    bottom: 0.25rem;
}

#arrow-2 {
    animation-delay: 0.4s;
    bottom: 1.15rem;
}

#arrow-3 {
    animation-delay: 0s;
    bottom: 2.15rem;
}

@media only screen and (min-width: 768px) {
    .landing-text-container.left-justify {
        margin-left: 3rem;
    }
}

@media only screen and (min-width: 992px) {
    .landing-text-container.left-justify {
        margin-left: 5rem;
    }
}

@media only screen and (max-width: 991px) {
    .home-landing-container {
        height: 80vh;
    }
}