.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 99;
}

.nav-item.active {
    background-color: rgba(0,0,0,0.06);
}

.nav-link {
    @include inter-reg();
    color: $gray;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-radius: 0.6rem;
    
    &.white {
        color: white;
    }

    &.white:hover {
        color: white;
    }

    &.active {
        @include inter-semi();
        // border-bottom: 2px white solid;
        background-color: rgba(0,0,0,0.25);
        color: $light-gray;
        &.white {
            color: white;
        }
    }

    &.active:hover {
        background-color: rgba(0,0,0,0.25);
    }

    &:hover {
        background-color: rgba(0,0,0,0.1);
        color: #303030;
    }
}