.projects-container {
    width:100vw;
    min-height: 100vh;
    margin: 0;
    background-color: $off-white;
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
}

.project-title {
    @include inter-extra-bold();
    font-size: 2.4rem;
    color: $gray;
    margin:0;
    line-height: 110%;

    // background: -webkit-linear-gradient(45deg, $blue, $light-blue);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    
    // animation: slideUp 1s;
    // -webkit-animation: slideUp 1s;
    // -moz-animation: slideUp 1s;
    // -o-animation: slideUp 1s;
    // -ms-animation: slideUp 1s;
    // animation-iteration-count: 1;
    // animation-delay: 0;
    // This makes CSS attribute changes made by animations
    // stick after the animation is complete
    animation-fill-mode: forwards;
}

.project-subtitle {
    @include inter-extra-bold();
    font-size: 1.25rem;
    color: $light-gray;
    margin: 0;
    line-height: 130%;
    background: -webkit-linear-gradient(45deg, $blue, $light-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-subtitle.gradient {
    background: -webkit-linear-gradient(45deg, $blue, $light-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.project-text {
    @include inter-reg();
    font-size: 1rem;
    color: $gray;
    margin: 0;
    line-height: 160%;
}

.projects-text-container {
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0px 10px 20px 3px rgba(60,60,60,0.06); 
    -webkit-box-shadow: 0px 10px 20px 3px rgba(60,60,60,0.06); 
}

.link-card {
    background-image: linear-gradient(45deg, $blue, $light-blue);
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0px 8px 6px 0.5px rgba(60,60,60,0.04); 
    -webkit-box-shadow: 0px 8px 6px 0.5px rgba(60,60,60,0.04); 
    position: relative;

    &:hover {
        cursor: pointer !important;
    }

    opacity: 0;
    animation: slideUp 1s;
    -webkit-animation: slideUp 1s;
    -moz-animation: slideUp 1s;
    -o-animation: slideUp 1s;
    -ms-animation: slideUp 1s;
    animation-iteration-count: 1;
    // animation-delay: 0.5s;
    // animation-timing-function: ease-out;
    animation-timing-function: cubic-bezier(0.000, 0.000, 0.255, 0.995); /* custom */
    animation-fill-mode: forwards;
}

.link-card-glare {
    opacity: 0;
    background-color: $gray;
    height: 100%;
    width: 100%;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.5rem;;

    transition: all 0.15s ease;

    &:hover {
        opacity: 0.15;
    }
}

.project-link-text {
    @include inter-bold();
    font-size: 1.25rem;
    color: white;
    opacity: 1;
    margin: 0;
    line-height: 110%;
    display: inline-block;
}

.project-page-image {
    position: relative;
    // width: 80%;
    height: auto;
    display: inline;
    z-index: 1;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 20px 3px rgba(60,60,60,0.06); 
    -webkit-box-shadow: 0px 10px 20px 3px rgba(60,60,60,0.06); 

    transition: all 0.5s ease;

    &:hover{
        transform: scale(1.01) skew(-0.4deg);
        // transform: scale(1.01);
    }
}

.project-image-background {
    position: absolute;
    // min-width: 80%;
    min-height: 100%;
    display: inline;
    border-radius: 0.5rem;
    // transform: rotate(3deg) translateX(1.5%) translateY(2%) scale(0.99);
    background-image: linear-gradient(45deg, $blue, $light-blue);

    // box-shadow: 0px 10px 20px 3px rgba(60,60,60,0.08); 
    // -webkit-box-shadow: 0px 10px 20px 3px rgba(60,60,60,0.08); 

    box-shadow: 6px 10px 5px 0px rgba(60,60,60,0.05); 
    -webkit-box-shadow: 6px 10px 5px 0px rgba(60,60,60,0.05);
}

.project-image-background-gray {
    position: absolute;
    // min-width: 80%;
    min-height: 100%;
    display: inline;
    border-radius: 0.5rem;
    transform: rotate(3deg) translateX(1.5%) translateY(2%) scale(0.99);
    // background-image: linear-gradient(45deg, $blue, $light-blue);
    background-color: $off-white;

    // Old drop shadow
    // box-shadow: 0px 10px 20px 3px rgba(60,60,60,0.08); 
    // -webkit-box-shadow: 0px 10px 20px 3px rgba(60,60,60,0.08); 

    box-shadow: 6px 10px 5px 0.5px rgba(60,60,60,0.06); 
    -webkit-box-shadow: 6px 10px 5px 0.5px rgba(60,60,60,0.06); 
}

.contact-container {
    width:100vw;
    margin: 0;
    background-color: $off-white;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

#project-animation-order-1, #project-animation-order-2, #project-animation-order-3, #project-animation-order-4, #project-animation-order-5, #project-animation-order-6 {
    opacity: 0;
    animation: slideUp 1s;
    -webkit-animation: slideUp 1s;
    -moz-animation: slideUp 1s;
    -o-animation: slideUp 1s;
    -ms-animation: slideUp 1s;
    animation-iteration-count: 1;
    // animation-delay: 0.15s;
    // animation-timing-function: ease-out;
    animation-timing-function: cubic-bezier(0.000, 0.000, 0.255, 0.995); /* custom */
    animation-fill-mode: forwards;
} 

#project-animation-order-2 {
    animation-delay: 0.1s;
}

#project-animation-order-3 {
    animation-delay: 0.2s;
}

#project-animation-order-4 {
    animation-delay: 0.3s;
}

#project-animation-order-5 {
    animation-delay: 0.4s;
}

#project-animation-order-6 {
    animation-delay: 0.5s;
}

@media only screen and (max-width: 1399px) {
    .project-title {
        font-size: 2.75rem;
    }
    .project-image-background{
        transform: rotate(3deg) translateX(1%) translateY(2%) scale(0.99);
    }
    .projects-column-right {
        opacity: 0;
        animation: slideUp 1s;
        -webkit-animation: slideUp 1s;
        -moz-animation: slideUp 1s;
        -o-animation: slideUp 1s;
        -ms-animation: slideUp 1s;
        animation-iteration-count: 1;
        // animation-delay: 0.15s;
        // animation-timing-function: ease-out;
        animation-timing-function: cubic-bezier(0.000, 0.000, 0.255, 0.995); /* custom */
        animation-fill-mode: forwards;
    }
}

@media only screen and (max-width: 991px) {
    .project-page-image, .project-image-background, .project-image-background-gray {
        width: 80%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
    .project-page-image, .project-image-background, .project-image-background-gray {
        width: 60%;
    }
}

@media only screen and (min-width: 1400px) {
    .project-page-image, .project-image-background, .project-image-background-gray {
        width: 80%;
    }

    .projects-column-left {
        padding-right: 3rem !important;
    }

    .projects-column-right {
        padding-left: 3rem !important;
    }

    .project-image-background{
        transform: rotate(3deg) translateX(1.5%) translateY(2%) scale(0.99);
    }

    .projects-column-right {
        opacity: 0;
        animation: slideInLeft 1s;
        -webkit-animation: slideInLeft 1s;
        -moz-animation: slideInLeft 1s;
        -o-animation: slideInLeft 1s;
        -ms-animation: slideInLeft 1s;
        animation-iteration-count: 1;
        // animation-delay: 0.15s;
        // animation-timing-function: ease-out;
        animation-timing-function: cubic-bezier(0.000, 0.000, 0.255, 0.995); /* custom */
        animation-fill-mode: forwards;
    }
}