.home-landing-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(45deg, #548CFF, #57D4FF);
  position: relative;
  z-index: 1;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.landing-text-container.left-justify {
  margin-left: 5rem;
}

.landing-title {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 5rem;
  color: white;
  opacity: 0;
  margin: 0;
  line-height: 100%;
  z-index: 5;
  animation: slideUpHome 1s;
  -webkit-animation: slideUpHome 1s;
  -moz-animation: slideUpHome 1s;
  -o-animation: slideUpHome 1s;
  -ms-animation: slideUpHome 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.landing-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  opacity: 0;
  margin: 0;
  z-index: 5;
  animation: slideUpHome 1s;
  -webkit-animation: slideUpHome 1s;
  -moz-animation: slideUpHome 1s;
  -o-animation: slideUpHome 1s;
  -ms-animation: slideUpHome 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.transparent-rectangle-1, .transparent-rectangle-2, .transparent-rectangle-3 {
  position: absolute;
  height: 100%;
  width: 15vw;
  margin: 0;
  padding: 0;
  background-color: white;
  opacity: 0;
  right: 0;
  top: 0;
  z-index: 3;
  display: block;
  animation: slideInRectangles 1s;
  -webkit-animation: slideInRectangles 1s;
  -moz-animation: slideInRectangles 1s;
  -o-animation: slideInRectangles 1s;
  -ms-animation: slideInRectangles 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995);
          animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.transparent-rectangle-2 {
  width: 25vw;
  z-index: 2;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.transparent-rectangle-3 {
  width: 32vw;
  z-index: 1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#arrow-1, #arrow-2, #arrow-3 {
  opacity: 0;
  animation: pulse 2s;
  -webkit-animation: pulse 2s;
  -moz-animation: pulse 2s;
  -o-animation: pulse 2s;
  -ms-animation: pulse 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin: 0;
  position: absolute;
  bottom: 0.25rem;
}

#arrow-2 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  bottom: 1.15rem;
}

#arrow-3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  bottom: 2.15rem;
}

@media only screen and (min-width: 768px) {
  .landing-text-container.left-justify {
    margin-left: 3rem;
  }
}
@media only screen and (min-width: 992px) {
  .landing-text-container.left-justify {
    margin-left: 5rem;
  }
}
.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 99;
}

.nav-item.active {
  background-color: rgba(0, 0, 0, 0.06);
}

.nav-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #3d3d3d;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  border-radius: 0.6rem;
}
.nav-link.white {
  color: white;
}
.nav-link.white:hover {
  color: white;
}
.nav-link.active {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-image: linear-gradient(45deg, rgba(84, 140, 255, 0.9), rgba(87, 212, 255, 0.9));
  color: white;
}
.nav-link.active.white {
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: none;
}
.nav-link.active:hover {
  color: white;
}
.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #303030;
}

.nav-link-glare {
  opacity: 0;
  background-color: #3d3d3d;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  transition: all 0.15s ease;
}
.nav-link-glare:hover {
  opacity: 0.15;
}

@keyframes slideInRectangles {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0.1;
  }
}
@-webkit-keyframes slideInRectangles {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 0.1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideUpHome {
  0% {
    transform: translateY(75%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0.85;
  }
}
@-webkit-keyframes slideUpHome {
  0% {
    -webkit-transform: translateY(75%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 0.85;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(7rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(7rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.projects-gallery-container {
  width: 100vw;
  min-height: 20vh;
  margin: 0;
  padding: 0;
  background-color: #f9f7f5;
  position: relative;
}

.projects-gallery-title {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
  line-height: 100%;
  background: -webkit-linear-gradient(45deg, #548CFF, #57D4FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-card {
  display: inline-block;
  vertical-align: top;
  min-height: 10vh;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 6px 0.5px rgba(60, 60, 60, 0.04);
  -webkit-box-shadow: 0px 8px 6px 0.5px rgba(60, 60, 60, 0.04);
}
.project-card-glare {
  opacity: 0;
  transition: all 0.15s ease;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(90deg, rgb(57, 101, 189), #8fe3ff);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 0.5rem;
}
.project-card-glare:hover {
  opacity: 0.18;
}

.project-card-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1.25rem;
  color: #3d3d3d;
  margin: 0;
  line-height: 110%;
}

.project-card-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #3d3d3d;
  margin: 0;
  line-height: 120%;
}

.project-card-image-container {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem 1rem 0 0;
  padding: 0 !important;
  box-shadow: 0px 10px 5px 0.5px rgba(60, 60, 60, 0.04);
  -webkit-box-shadow: 0px 10px 5px 0.5px rgba(60, 60, 60, 0.04);
}

.project-card-image {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 0.5rem 0.5rem 0 0;
}

@media only screen and (max-width: 350px) {
  .projects-gallery-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 351px) and (max-width: 575px) {
  .projects-gallery-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .projects-gallery-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .projects-gallery-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media only screen and (min-width: 992px) {
  .projects-gallery-container {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.projects-container {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: #f9f7f5;
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
}

.project-title {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 2.4rem;
  color: #3d3d3d;
  margin: 0;
  line-height: 110%;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.project-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  color: #494949;
  margin: 0;
  line-height: 130%;
  background: -webkit-linear-gradient(45deg, #548CFF, #57D4FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-subtitle.gradient {
  background: -webkit-linear-gradient(45deg, #548CFF, #57D4FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #3d3d3d;
  margin: 0;
  line-height: 160%;
}

.projects-text-container {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0px 10px 20px 3px rgba(60, 60, 60, 0.06);
  -webkit-box-shadow: 0px 10px 20px 3px rgba(60, 60, 60, 0.06);
}

.link-card {
  background-image: linear-gradient(45deg, #548CFF, #57D4FF);
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 6px 0.5px rgba(60, 60, 60, 0.04);
  -webkit-box-shadow: 0px 8px 6px 0.5px rgba(60, 60, 60, 0.04);
  position: relative;
  opacity: 0;
  animation: slideUp 1s;
  -webkit-animation: slideUp 1s;
  -moz-animation: slideUp 1s;
  -o-animation: slideUp 1s;
  -ms-animation: slideUp 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995);
          animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995); /* custom */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.link-card:hover {
  cursor: pointer !important;
}

.link-card-glare {
  opacity: 0;
  background-color: #3d3d3d;
  height: 100%;
  width: 100%;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  transition: all 0.15s ease;
}
.link-card-glare:hover {
  opacity: 0.15;
}

.project-link-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: white;
  opacity: 1;
  margin: 0;
  line-height: 110%;
  display: inline-block;
}

.project-page-image {
  position: relative;
  height: auto;
  display: inline;
  z-index: 1;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 20px 3px rgba(60, 60, 60, 0.06);
  -webkit-box-shadow: 0px 10px 20px 3px rgba(60, 60, 60, 0.06);
  transition: all 0.5s ease;
}
.project-page-image:hover {
  transform: scale(1.01) skew(-0.4deg);
}

.project-image-background {
  position: absolute;
  min-height: 100%;
  display: inline;
  border-radius: 0.5rem;
  background-image: linear-gradient(45deg, #548CFF, #57D4FF);
  box-shadow: 6px 10px 5px 0px rgba(60, 60, 60, 0.05);
  -webkit-box-shadow: 6px 10px 5px 0px rgba(60, 60, 60, 0.05);
}

.project-image-background-gray {
  position: absolute;
  min-height: 100%;
  display: inline;
  border-radius: 0.5rem;
  transform: rotate(3deg) translateX(1.5%) translateY(2%) scale(0.99);
  background-color: #f9f7f5;
  box-shadow: 6px 10px 5px 0.5px rgba(60, 60, 60, 0.06);
  -webkit-box-shadow: 6px 10px 5px 0.5px rgba(60, 60, 60, 0.06);
}

.contact-container {
  width: 100vw;
  margin: 0;
  background-color: #f9f7f5;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

#project-animation-order-1, #project-animation-order-2, #project-animation-order-3, #project-animation-order-4, #project-animation-order-5, #project-animation-order-6 {
  opacity: 0;
  animation: slideUp 1s;
  -webkit-animation: slideUp 1s;
  -moz-animation: slideUp 1s;
  -o-animation: slideUp 1s;
  -ms-animation: slideUp 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995);
          animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995); /* custom */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#project-animation-order-2 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#project-animation-order-3 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#project-animation-order-4 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#project-animation-order-5 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#project-animation-order-6 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@media only screen and (max-width: 1399px) {
  .project-title {
    font-size: 2.75rem;
  }
  .project-image-background {
    transform: rotate(3deg) translateX(1%) translateY(2%) scale(0.99);
  }
  .projects-column-right {
    opacity: 0;
    animation: slideUp 1s;
    -webkit-animation: slideUp 1s;
    -moz-animation: slideUp 1s;
    -o-animation: slideUp 1s;
    -ms-animation: slideUp 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995);
            animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995); /* custom */
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@media only screen and (max-width: 991px) {
  .project-page-image, .project-image-background, .project-image-background-gray {
    width: 80%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1399px) {
  .project-page-image, .project-image-background, .project-image-background-gray {
    width: 60%;
  }
}
@media only screen and (min-width: 1400px) {
  .project-page-image, .project-image-background, .project-image-background-gray {
    width: 80%;
  }
  .projects-column-left {
    padding-right: 3rem !important;
  }
  .projects-column-right {
    padding-left: 3rem !important;
  }
  .project-image-background {
    transform: rotate(3deg) translateX(1.5%) translateY(2%) scale(0.99);
  }
  .projects-column-right {
    opacity: 0;
    animation: slideInLeft 1s;
    -webkit-animation: slideInLeft 1s;
    -moz-animation: slideInLeft 1s;
    -o-animation: slideInLeft 1s;
    -ms-animation: slideInLeft 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995);
            animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995); /* custom */
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
.about-wrapper {
  min-height: 100vh;
}

.about-container {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #f9f7f5;
  position: relative;
}

.about-page-image {
  position: relative;
  height: auto;
  display: inline;
  z-index: 1;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 20px 3px rgba(60, 60, 60, 0.06);
  -webkit-box-shadow: 0px 10px 20px 3px rgba(60, 60, 60, 0.06);
  transition: all 0.5s ease;
}
.about-page-image:hover {
  transform: scale(1.01) skew(-0.4deg);
}

.about-image-background {
  position: absolute;
  min-height: 100%;
  display: inline;
  border-radius: 0.5rem;
  background-image: linear-gradient(45deg, rgba(84, 140, 255, 0.9), rgba(87, 212, 255, 0.9));
  box-shadow: 6px 10px 5px 0.5px rgba(60, 60, 60, 0.06);
  -webkit-box-shadow: 6px 10px 5px 0.5px rgba(60, 60, 60, 0.06);
}

.about-title {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  color: #3d3d3d;
  margin: 0;
  line-height: 110%;
  display: inline-block;
}

.about-title-gradient {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  color: #3d3d3d;
  margin: 0;
  line-height: 110%;
  background: -webkit-linear-gradient(45deg, #548CFF, #57D4FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-text-container {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0px 10px 20px 3px rgba(60, 60, 60, 0.06);
  -webkit-box-shadow: 0px 10px 20px 3px rgba(60, 60, 60, 0.06);
  opacity: 0;
  animation: slideUp 1s;
  -webkit-animation: slideUp 1s;
  -moz-animation: slideUp 1s;
  -o-animation: slideUp 1s;
  -ms-animation: slideUp 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995);
          animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995); /* custom */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.about-container {
  background-color: #f9f7f5;
}

.resume-card {
  background-image: linear-gradient(45deg, #548CFF, #57D4FF);
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 6px 0.5px rgba(60, 60, 60, 0.04);
  -webkit-box-shadow: 0px 8px 6px 0.5px rgba(60, 60, 60, 0.04);
  position: relative;
  display: block;
  transition: all 0.15s ease;
  opacity: 0;
  animation: slideUp 1s;
  -webkit-animation: slideUp 1s;
  -moz-animation: slideUp 1s;
  -o-animation: slideUp 1s;
  -ms-animation: slideUp 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995);
          animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995); /* custom */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.resume-card:hover {
  cursor: pointer !important;
  transform: scale(1.02);
}

.resume-card-glare {
  opacity: 0;
  background-color: #3d3d3d;
  height: 100%;
  width: 100%;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  transition: all 0.15s ease;
}
.resume-card-glare:hover {
  opacity: 0.15;
}

.about-column-left {
  opacity: 0;
  animation: slideInRight 1s;
  -webkit-animation: slideInRight 1s;
  -moz-animation: slideInRight 1s;
  -o-animation: slideInRight 1s;
  -ms-animation: slideInRight 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 0.995);
          animation-timing-function: cubic-bezier(0, 0, 0, 0.995); /* custom */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.transparent-rectangle-resume-1, .transparent-rectangle-resume-2, .transparent-rectangle-resume-3 {
  position: absolute;
  height: 100%;
  width: 15%;
  margin: 0;
  padding: 0;
  background-color: white;
  opacity: 0;
  right: 0;
  top: 0;
  z-index: 3;
  animation: slideInRectangles 1s;
  -webkit-animation: slideInRectangles 1s;
  -moz-animation: slideInRectangles 1s;
  -o-animation: slideInRectangles 1s;
  -ms-animation: slideInRectangles 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.transparent-rectangle-resume-2 {
  width: 25%;
  z-index: 2;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.transparent-rectangle-resume-3 {
  width: 32%;
  z-index: 1;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.contact-card {
  background-color: white;
  border-radius: 0.5rem;
  width: 32%;
  position: relative;
  box-shadow: 0px 8px 6px 0.5px rgba(60, 60, 60, 0.04);
  -webkit-box-shadow: 0px 8px 6px 0.5px rgba(60, 60, 60, 0.04);
  transition: all 0.2s ease;
  opacity: 0;
  animation: slideUp 1s;
  -webkit-animation: slideUp 1s;
  -moz-animation: slideUp 1s;
  -o-animation: slideUp 1s;
  -ms-animation: slideUp 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995);
          animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995); /* custom */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.contact-card:hover {
  cursor: pointer !important;
  transform: scale(1.03);
}

#contact-card-2 {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

#contact-card-3 {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.contact-card-glare {
  opacity: 0;
  background-image: linear-gradient(90deg, rgb(57, 101, 189), #8fe3ff);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}
.contact-card-glare:hover {
  opacity: 0.15;
}

.contact-title-white {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: white;
  opacity: 1;
  margin: 0;
  line-height: 110%;
  display: inline-block;
}

.contact-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #3d3d3d;
  opacity: 1;
  margin: 0;
  line-height: 110%;
  display: inline-block;
}

@media only screen and (max-width: 1399px) {
  .project-title {
    font-size: 2.75rem;
  }
  .about-image-background {
    transform: rotate(3deg) translateX(4%) translateY(2%) scale(0.99);
  }
  .about-text-container {
    width: 75%;
  }
}
@media only screen and (max-width: 991px) {
  .about-page-image, .about-image-background, .about-image-background-gray {
    width: 80%;
  }
}
@media only screen and (max-width: 350px) {
  .about-image-background {
    transform: rotate(3deg) translateX(11%) translateY(0%) scaleX(0.9);
  }
}
@media only screen and (max-width: 767px) {
  .about-text-container {
    width: 100%;
  }
}
@media only screen and (min-width: 351px) and (max-width: 575px) {
  .about-image-background {
    transform: rotate(3deg) translateX(0%) translateY(0%) scaleX(0.95);
  }
  .about-column-left {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .about-container {
    padding-top: 6rem !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about-image-background {
    transform: rotate(3deg) translateX(0) translateY(0%) scaleX(0.9);
  }
  .about-container {
    padding-top: 5rem !important;
    padding-bottom: 0rem !important;
  }
  .about-column-left {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-image-background {
    transform: rotate(3deg) translateX(14%) translateY(0%) scaleX(0.85);
  }
  .about-container {
    padding-top: 14rem !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1399px) {
  .about-page-image, .about-image-background, .about-image-background-gray {
    width: 60%;
  }
  .about-container {
    padding-top: 8rem !important;
  }
  .about-image-background {
    transform: rotate(3deg) translateX(11%) translateY(0%) scale(0.99) scaleX(0.9);
  }
}
@media only screen and (min-width: 1400px) {
  .about-page-image, .about-image-background, .about-image-background-gray {
    width: 80%;
  }
  .about-container {
    padding-top: 6rem !important;
  }
  .about-column-left {
    padding-right: 3rem !important;
  }
  .about-column-right {
    padding-left: 3rem !important;
  }
  .about-image-background {
    transform: rotate(3deg) translateX(7%) translateY(0%) scale(1) scaleX(0.97);
  }
  .about-text-container {
    width: 100%;
  }
}
.footer-container {
  background-color: #f0f0f0;
  position: relative;
}

.footer-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #3d3d3d;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  border-radius: 0.6rem;
}
.footer-link.active {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.1);
}
.footer-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #303030;
}

.attributions-landing-container {
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 100vw;
  margin: 0;
  background-image: linear-gradient(45deg, #548CFF, #57D4FF);
  position: relative;
  z-index: 1;
}

.attributions-title {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 5rem;
  color: white;
  opacity: 0;
  margin: 0;
  line-height: 100%;
  z-index: 5;
  animation: slideUpHome 1s;
  -webkit-animation: slideUpHome 1s;
  -moz-animation: slideUpHome 1s;
  -o-animation: slideUpHome 1s;
  -ms-animation: slideUpHome 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.attributions-body {
  width: 100vw;
  margin: 0;
  background-color: #f9f7f5;
  position: relative;
}

.attributions-item-title {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  color: #3d3d3d;
  margin: 0;
  line-height: 100%;
  opacity: 0;
  animation: slideUp 1s;
  -webkit-animation: slideUp 1s;
  -moz-animation: slideUp 1s;
  -o-animation: slideUp 1s;
  -ms-animation: slideUp 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995);
          animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995); /* custom */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  background-color: #3d3d3d;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  opacity: 0;
  animation: slideUp 1s;
  -webkit-animation: slideUp 1s;
  -moz-animation: slideUp 1s;
  -o-animation: slideUp 1s;
  -ms-animation: slideUp 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995);
          animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995); /* custom */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.attributions-button {
  background-image: linear-gradient(45deg, #548CFF, #57D4FF);
  border-radius: 0.5rem;
  box-shadow: 0px 8px 6px 0.5px rgba(60, 60, 60, 0.04);
  -webkit-box-shadow: 0px 8px 6px 0.5px rgba(60, 60, 60, 0.04);
  position: relative;
  transition: all 0.15s ease;
  display: inline-block;
  margin-bottom: 1rem;
  opacity: 0;
  animation: slideUp 1s;
  -webkit-animation: slideUp 1s;
  -moz-animation: slideUp 1s;
  -o-animation: slideUp 1s;
  -ms-animation: slideUp 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995);
          animation-timing-function: cubic-bezier(0, 0, 0.255, 0.995); /* custom */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.attributions-button:hover {
  cursor: pointer !important;
  transform: scale(1.02);
}

.attributions-button-glare {
  opacity: 0;
  background-color: #3d3d3d;
  height: 100%;
  width: 100%;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  transition: all 0.15s ease;
}
.attributions-button-glare:hover {
  opacity: 0.15;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
}
body.hide {
  opacity: 0;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

::-webkit-scrollbar {
  display: none;
}

:focus-visible {
  outline: none !important;
}

a {
  text-decoration: none !important;
}
a:hover {
  cursor: pointer !important;
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 351px) and (max-width: 575px) {
  html {
    font-size: 11px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 14x;
  }
}/*# sourceMappingURL=styles.css.map */