$blue: #548CFF;
$blue-extreme: rgb(57, 101, 189);
$light-blue: #57D4FF;
$light-blue-extreme: #8fe3ff;
$gray: #3d3d3d;
$light-gray: #494949;
$off-white: #f9f7f5;
$jackson-blue: rgba(31, 38, 82, 0.95);
$pontem-purple: rgba(176, 172, 246, 0.95);
$vis-blue: rgba(82, 181, 207, 0.95);
$minesweeper-green: rgba(22, 107, 55, 0.95);

@mixin inter-light {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

@mixin inter-reg {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

@mixin inter-semi {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

@mixin inter-bold {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

@mixin inter-extra-bold {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

@mixin inter-black {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

@import "landing";
@import "navbar";
@import "animations";
@import "projectsgallery";
@import "projects";
@import "about";
@import "footer";
@import "attributions";

html {
    // font-size: 1px;
    height: 100%;
}

body {
    overflow-x: hidden;
    &.hide {
        opacity: 0;
    }
    height: 100%;
}

body::-webkit-scrollbar { width: 0 !important }

::-webkit-scrollbar {
    display: none;
}

:focus-visible {
    outline: none !important;
}

a {
    text-decoration: none !important;
    &:hover {
        cursor: pointer !important;
    }
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (min-width: 351px) and (max-width: 575px) {
    html {
        font-size: 11px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    html {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 14x;
    }
}